.statistics {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
}

.statList {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.label:not(:last-child) {
  margin-right: 5px;
}
